body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}
#content {
    margin: auto;
    padding-top: 20px;
    width: 60%;
}
footer {
    text-align: center;
    background-color: #000;
    color: white;
    margin: 0;
    padding: 50px;
}
#nav-bar {
    padding: 0;
    overflow: hidden;
    width: fit-content;
    float: right;
}
#nav-bar ul {
    padding: 0;
    margin: 0;
    height: inherit;
    overflow: hidden;
}

#nav-bar ul li {
    float: right;
    list-style-type: none;
    height: inherit;
    padding: 0;
}

#nav-bar ul li a {
    margin: 0;
    display: block;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    padding: 15px 50px;
    color: black;
    font-size: 110%;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}
#nav-bar ul li a:hover {
    border-bottom: 4px solid black;
} 

#header {
    background-color: white;
    margin: 0;
    display: block;
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}
#header-img {
    height: 50px;
}

#hero-img {
    margin: 0;
    padding: 0;
    background-image: url(https://drive.google.com/uc?export=view&id=1e5eKgOz0jev8p_lYCB6mL9hwfLigBlCV);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

#hero-text {
    padding: 50px 50px;
    padding: 75px;
    line-height: 1;
}

#hero-text h1 {
    color: white;
    font-size: 100px;
    font-weight: 600;
    margin: 0;
}

#hero-text h2 {
    color: white;
    font-size: 50px;
    font-weight: 100;
    margin: 0
}
#video {
    height: 315px;
    width: 420px;
    margin: auto;
    display: block;
}
form {
    width: 100%;
}
input {
    margin: 10px 0;
    padding: 0;
    height: 40px;
    width: 100%;
    display: block;
    font-family: 'Montserrat';
    max-width: 500px;
}
input[type="email"] {
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: white;
    transition: ease-in-out;
    transition-duration: 0.3s;
}
input[type="submit"]:hover {
    background-color: black;
    color: white;
}
#info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}
.info-card {
    width: 25%;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);;
}
.info-card-img {
    padding: 20px;
}
.info-card-img img {
    width: 100%;
}
.info-card-text {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
}
#contact {
    clear: both;
    bottom: 0;
    display: block;
}

@media (max-width: 910px) {
    h2 {
        text-align: center;
    }
    p {
        text-align: justify;
    }
    .info-card-text p {
        text-align: center;
    }
    #hero-text h1 {
        font-size: 50px;
        text-align: center;
    }
    #hero-text h2 {
        text-align: center;
    }
    #nav-bar ul li a {
        padding: 15px 20px;
    }
    #info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info-card {
        margin: 0 0 50px 0;
        width: 75%;
    }
}
@media (max-width: 550px) {
    #nav-bar {
        width: 100%;
    }
    #nav-bar ul li{
        display: block;
        float: initial;
        width: 100%;
    }
    #nav-bar ul li a {
        text-align: center;
        width: 100%;
        border: 0;
    }
    #nav-bar ul li a:hover {
        color: white;
        background-color: black;
        border: 0;
        transition: ease-in-out;
        transition-duration: 0.3s;
    }
    #header-img {
        display: none;
    }
    #info, #about, #contact {
        padding: 3%;
    }
    #video {
        height: 150px;
        width: 200px;
        margin: auto;
        display: block;
    }
    #content {
        width: 100%;
    }
    #hero-text h1 {
        font-size: 30px;
    }
}
